body {

        margin: 0px;
        padding: 0px;
}
nav{
    position: fixed;
    width: 100%;
}

.container {

                background-image: url("/image/background.png");
                height:790px;
                width: auto;
                overflow: scroll;

}

.container::-webkit-scrollbar {
    display: none;
}

#firstPage {

                background-color: rgb(242, 243, 244);
                height: 700px;
                box-shadow: 5px 5px 50px rgb(91, 94, 97);

}
.offers {
    display: none;
}

.offer img {
                padding-top: 100px;
                height: 500px;
}

#topMenu {

                background-color: rgba(234, 237, 237, 1);
                height: 50px;
                box-shadow: 5px 5px 50px rgb(91, 94, 97);
                             
}
            ul {

                            list-style-type: none;
                            line-height: 40px;
                            cursor: pointer;
                            
            }

            #item:hover{
                        background-color: white;
                        width: 13%;
                        box-shadow: 5px 5px 50px rgb(91, 94, 97);
            }
            #logo:hover{
                background-color: white;
    }

            #logo {

                            float: left;
                            width: 8%;
                            
            }
            #item {

                            float: left;
                            width: 12%;
                            text-align: center;
                                                      
            }
            #space{
                            float: left;
                            width: 50%;
            }

#secondPage {

                height: 550px;
               
}

                #trial{
                    height: 300px;
                }
                
               



                #trial1{

                           
                            
                            margin: auto;
                            height: 350px;    
                            width:30%;
                            border-radius: 5px;
                            box-shadow: 5px 5px 50px rgb(91, 94, 97);
                            animation: flot 10s infinite linear;
                                                  
            }
#trial1 img {

        height: 350px;
        width: 100%;
        border-radius: 5px;
        box-shadow: 5px 5px 50px rgb(91, 94, 97);
       
}

           

            @keyframes flot{
                0%{
                    transform: rotate3d(0);
                }

                100%{
                    /* transform : rotate(x,y,z, angle);  */
                    transform: rotate3d(0, 1, 0, 360deg);
                    }

            }

#thirdPage {

                overflow-y:scroll;
                background-color: rgb(242, 243, 244);
                height: auto;
                width: 100%;
                box-shadow: 5px 5px 50px rgb(91, 94, 97);
                padding-top: 90px;  
                padding-left: 30px;
                padding-bottom: 10px;
              
               

}

#thirdPage::-webkit-scrollbar {
    display: none;
}

                .box{
                            cursor: pointer;
                            margin: 10px;                            
                            height:20rem;
                            width: 14rem;
                            background-color: rgb(221, 231, 241);
                            float: left;
                           
                }

                .box:hover{
                            box-shadow: 5px 5px 15px rgb(91, 94, 97);
                                                
                }
                
                .box img{
                        height: 12rem;
                        width: 11.5rem;
                        padding: 20px;
                }


#fifthPage {
                padding: 25px;
                height: 265px;
                background-color:rgb(252, 253, 253) ;
             
               
}

                .endSection{                       
                      
                        width: 48%;
                        border-right: 1px solid white ;
                        float: left;  
                           
                                                                  
                }

                .endSection1{                       
                      
                    width: 48%;
                    float: left;
                   padding-left: 15px;
                                                                    
            }


                #innerBox{
                      
                        height: 200px;
                        padding: 25px;
                     
                        background-color: rgb(220, 230, 241);
                        overflow: hidden;
                        box-shadow: 5px 5px 50px rgb(55, 58, 61);
                       
                       
                }

                .head{

                        font-size: 25px;
                        text-decoration: underline;
                       
                }

                .lines{
                    font-size: 15px;
                }
